<img src=<%=@picture.image_url%>
    width="800" height="600">
<div>
<% @picture.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
<% end %>
<div>
<% @picture.comments.each do |comment| %>
    <br><%= comment.content %></br>
<% end %>

<h3>Add A Comment</h3>
<%= render 'comments/new', comment: Comment.new %>
